body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e60000; /* Vodafone red background */
    padding: 5vw;
    color: #333; /* Dark text for better readability */
}

h1 {
    margin-bottom: 2rem; /* Space between the title and the Bingo board */
    font-size: 4vw; /* Adjust font size based on viewport width */
}

.bingo-board {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3vw;
    background-color: white;
    padding: 4vw;
    border-radius: 2vw;
    box-shadow: 0 2vw 3vw rgba(0, 0, 0, 0.1);
}

.bingo-board div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #e4e4e4;
    border-radius: 1vw;
    padding: 3vw 2vw;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 3vw;
}

.bingo-board div.selected {
    background-color: #e60000;
    color: white;
}

.bingo-board div:hover {
    background-color: #b50000;
}

@media (min-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .bingo-board {
        width: 500px;
        grid-gap: 10px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .bingo-board div {
        height: 80px;
        border-radius: 5px;
        padding: 15px 5px;
        font-size: 16px;
    }
}
